@{Layout = null;}
@foreach (var item in Model)
{
    <tr>
        <td>
            <img style="width:40px;height:55px" src="@item.Imagen" />
            <button type="button" class="verimagendeproductoacotizar btn btn-dark fa fa-eye" data-toggle="modal" data-target=".bd-example-modal-lg" data-iddetallecotizacion="@item.Id_Detalle_Cotizacion"></button>
            @*<button class="verimagendeproductoacotizar btn btn-dark fa fa-eye" data-toggle="modal" data-target=".bd-example-modal-lg" data-iddetallecotizacion="@item.Id_Detalle_Cotizacion"></button>*@
        </td>
        <td>@item.Producto</td>
        <td>@item.Medidas</td>
        <td>
            @item.Cantidad
            @if (item.Cotizacion.Id_Estado != 5)
            {
                <a class="actualizarcantidaddetallecotizacion btn btn-warning" data-idcotizacion="@item.Id_Cotizacion" data-iddetallecotizacion="@item.Id_Detalle_Cotizacion"><span class="glyphicon glyphicon-refresh"></span></a>
            }
        </td>
        @if (item.Id_Estado != 3)
        {
            <td>@item.Precio</td>
            <td>@item.Sub_Total</td>
        }
        else
        {
            <td class="text-danger">Por cotizar</td>
            <td class="text-danger">Por cotizar</td>
        }
        <td>@item.Descripcion</td>
        <td>
            @if (item.Cotizacion.Id_Estado == 3 || item.Cotizacion.Id_Estado == 6)
            {
                <button type="button" class="cotizaritemdetallecotizacion btn btn-success fa fa-dollar" data-idcotizacion="@item.Id_Cotizacion" data-iddetallecotizacion="@item.Id_Detalle_Cotizacion" data-toggle="modal" data-target="#exampleModalCenter"> Cotizar</button>
            }
            @if (item.Cotizacion.Id_Estado != 5)
            {
                <a class="eliminaritemdetallecotizacion btn btn-danger" data-idcotizacion="@item.Id_Cotizacion" data-iddetallecotizacion="@item.Id_Detalle_Cotizacion"><span class="glyphicon glyphicon-trash"></span>@*Eliminar*@</a>
            }
            else { <label>...</label>}
        </td>
    </tr>
}