@{Layout = null;}
@foreach (var item in Model)
{
    <tr>
        <td><img style="width:40px;height:55px" src="@item.Imagen" /> @*@item.Imagen*@</td>
        <td>@item.Nombre</td>
        <td>@item.Categoria.Nombre</td>
        <td>@item.Medidas</td>
        <td>@item.Precio</td>
        <td>@item.Descripcion</td>
        <td>
            <button class="agregarproductoapedido btn btn-warning" data-idproducto="@item.Id_Producto"><span class="glyphicon glyphicon-plus"></span> Agregar</button>
        </td>
    </tr>
}