@{Layout = null;}
@foreach (var item in Model)
{
<tr>
    <td><img style="width:40px;height:55px" src="@item.Producto.Imagen" /></td>
    <td>@item.Producto.Nombre</td>
    <td>@item.Producto.Medidas</td>
    <td>
        @item.Cantidad
        <a class="actualizarcantidad btn btn-warning" data-idcarritopedido="@item.Id_Carrito_Pedido"><span class="glyphicon glyphicon-refresh"></span>@*Eliminar*@</a>
    </td>
    <td>@item.Precio</td>
    <td>@item.Sub_Total</td>
    <td>
        <a class="eliminaritemcarrito btn btn-danger" data-idcarritopedido="@item.Id_Carrito_Pedido"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>
    </td>
</tr>
}
<tr>
    <td><label class="control-label" style="background-color:yellow">Total : @ViewBag.Total soles</label></td>
</tr>