
@{ Layout = "Layout_Admin"; }


<footer>
    <h1>Usuarios</h1>
    <br />
    <br />
    <form action="/UsuarioAdmin/Index" method="get">
        <div class="col-md-12">
            <div class="col-md-3">
                <input type="text" class="form-control" name="query" placeholder="Ingrese DNI" />
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>
    <br />
    <div class="container">
        <table class="table container">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.DNI</td>
                        <td>@item.Direccion</td>
                        <td>@item.Telefono</td>
                        <td>@item.Correo</td>
                        <td>@item.Rol.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/scriptsmaderera/Notificaciones.js"></script>