
@{ Layout = "Layout_Admin"; }
@model Producto

<footer>
    <div class="container">
        <h1>Productos - Editar producto</h1>
        <br />
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <div><br /></div>
                <div>
                    <img style="" alt="Silverfox" class="img-fluid" src="@ViewBag.Imagen" />
                </div>
                <br />
                <div>
                    <a href="/ProductoAdmin/EditarImagen?id=@Model.Id_Producto" class="btn btn-primary"><span class="glyphicon glyphicon-file"></span> Editar Imagen</a>
                </div>
            </div>
            <div class="col-md-6">
                <form action="/ProductoAdmin/Editar?id=@Model.Id_Producto" method="post" enctype="multipart/form-data">
                    <div>
                        <label class="control-label">Nombre</label>
                        <input class="form-control" type="text" asp-for="Nombre" placeholder="Ingrese nombre" />
                        <span class="text-danger">@Html.ValidationMessage("Nombre")</span>
                    </div>
                    <div>
                        <label class="control-label">Medidas</label>
                        <input class="form-control" type="text" asp-for="Medidas" placeholder="Ingrese medidas" />
                        <span class="text-danger">@Html.ValidationMessage("Medidas")</span>
                    </div>
                    <div>
                        <label class="control-label">Precio Unit.</label>
                        <input class="form-control" type="text" asp-for="Precio" placeholder="Ingrese precio" />
                        <span class="text-danger">@Html.ValidationMessage("Precio")</span>
                    </div>
                    <div>
                        <label class="control-label">Categoría :</label>
                        <select class="form-control" asp-for="Id_Categoria">
                            <option value="0">--Seleccione categoría--</option>
                            @foreach (var categoria in ViewBag.Categorias)
                            {
                                if (categoria.Id_Categoria == Model.Id_Categoria)
                                {
                                    <option value="@categoria.Id_Categoria" selected>@categoria.Nombre</option>
                                }
                                <option value="@categoria.Id_Categoria">@categoria.Nombre</option>
                            }
                        </select>
                        <span class="text-danger">@Html.ValidationMessage("Categoria")</span>
                    </div>
                    <div>
                        <label class="control-label">Descripción</label>
                        <textarea class="form-control" asp-for="Descripcion" placeholder="Ingrese Descripción"></textarea>
                        <span class="text-danger">@Html.ValidationMessage("Descripcion")</span>
                    </div>
                    <br />
                    <div>

                        <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-saved"></span> Guardar Cambios</button>
                        <a class=" btn btn-danger pull-right" href="/ProductoAdmin/Index"><span class="glyphicon glyphicon-circle-arrow-left"></span>Volver</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <br />
    <div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/scriptsmaderera/Notificaciones.js"></script>
